@import '../../breakpoints.scss';

.new-card {
  padding: 20px 15px 15px;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 16%);
  transition: box-shadow 0.3s;

  @include at($min, $phone-lg) {
    padding: 25px 20px 20px;
  }

  &:hover {
    box-shadow: 0 10px 20px rgb(0 0 0 / 40%);
  }
}

.new-card__title {
  color: #000;
  text-align: center;
}

.new-card__btn-add {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0;
  background-color: transparent;
  border: 3px solid #666;
  border-radius: 50%;

  &::before,
  &::after {
    content: '';
    position: absolute;
    background-color: #666;
  }

  &::before {
    transform: translateY(-50%);
  }

  &::after {
    transform: translateX(-50%);
  }
}
