@import '../../breakpoints.scss';

.game-end-splash-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 300;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transition: opacity 0.3s, visibility 0.3s;
}

.game-end-splash-screen_hidden {
  opacity: 0;
  visibility: hidden;
}

.game-end-splash-screen__title {
  margin: 0 0 40px;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 3px 3px 1px #e6e6e6;
  color: #f9c464;

  @include at($min, $phone) {
    font-size: 46px;
    margin-bottom: 80px;
  }
}

.game-end-splash-screen__img {
  max-width: 70%;
}
