.header {
  padding: 0 20px;
  background-color: #fff;

  .admin-auth & {
    background-color: #00BF82;
  }
}

.header__container {
  display: flex;
  max-width: 1350px;
  margin: 0 auto;
  padding: 40px 0;
  justify-content: space-between;
  align-items: center;

  .admin-auth & {
    padding: 20px 0;
  }
}
