.header {
  padding: 0 20px;
  background-color: #fff;
}

.header__container {
  display: flex;
  max-width: 1350px;
  margin: 0 auto;
  padding: 40px 0;
  justify-content: space-between;
  align-items: center;
}
