.statistic-table-cell {
  line-height: 1;
  border: 1px solid #ddd;
}

.statistic-table-cell_view_th {
  position: relative;
  padding: 20px 5px;
  color: #fff;
  background-color: #00bf82;
  cursor: pointer;
}

.statistic-table-cell_view_td {
  padding: 10px 20px;
}
