@import '../../breakpoints.scss';

.admin-category-card-form {
  display: grid;
  column-gap: 15px;
}

.admin-category-card-form_hidden {
  display: none;
}

.admin-category-card-form__label,
.admin-category-card-form__field {
  @include at($min, $phone-lg) {
    grid-column: 1 / 3;
  }
}

.admin-category-card-form__label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 700;
  color: #3f51b5;
}

.admin-category-card-form__field {
  margin-bottom: 50px;

  @include at($min, $phone-lg) {
    margin-bottom: 70px;
  }

  .field__input {
    width: 100%;
    padding: 0 0 2px;
    font-size: 22px;
    color: #000;
    border-width: 0 0 1px 0;
    border-color: #3f51b5;
    border-style: solid;
  }
}

.admin-category-card-form__btn-cancel,
.admin-category-card-form__btn-act {
  padding: 4px 10px;

  @include at($min, $phone-lg) {
    padding: 10px;
  }
}

.admin-category-card-form__btn-cancel {
  border-color: #e53935;
  color: #e53935;

  &:hover {
    background-color: #e53935;
    color: #fff;
  }

  @include at($max, $phone-lg - 1) {
    margin-bottom: 15px;
  }
}

.admin-category-card-form__btn-act {
  border-color: #00bf82;
  color: #00bf82;

  &:hover {
    background-color: #00bf82;
    color: #fff;
  }
}
